<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="static/img/trustsharinglogo.png" type="image/x-icon">
    <title>Trust Sharing</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><img src="static/img/trustsharing2.png" alt="Logo" style="width: 300px; height:auto;"></a>
      <span></span>
      <h1>You Have Logged Out</h1>
      <button class="login-btn" onclick="redirectToLoginPage()">Login</button>
      <script>
        function redirectToLoginPage(){
          window.location.href = 'loginPage';
        }
      </script>
    </div>
    <script src="static/js/logout.js"></script>
  </body>
</html>